:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bariol";
}

body {
  background-color: var(--light);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(161,255,255,1) 11.3%, rgba(6,255,255,1) 41.2%, rgba(0,216,216,1) 77.8% );
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.calculator {
  width: 100%;
  max-width: 30rem;
  background-color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 10px 10px 64px rgba(0, 0, 0, 0.3);
}

.display {
  padding: 1rem;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 300;
}

.display span {
  font-size: 0.9rem;
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.3rem;
  padding: 1rem;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.digits button {
  flex: 1 1 33.33333%;
  max-width: 33.33333%;
  background-color: var(--dark);
}
